
html {
  box-sizing: border-box;
     height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

body {
     height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}







select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid black;
  border-radius: 0.25em;
  margin-bottom: 30px;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}


.site-nav list {
 display: flex;
}

.item {
  display: block;
}





@media screen and (min-width: 768px) {
.container {
  max-width: 1199px;
  
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
  border-color: rgb(93, 118, 190);:rgb(93, 118, 190)
}
 } 

@media screen and (min-width: 1200px) {
.container {
  max-width: 1200px;
  
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
  border-color: rgb(93, 118, 190);:rgb(93, 118, 190)
}
}

h1 {
  margin: 0px;
  padding: 40px;
  color: #f9f9f9;
  background-color: rgb(93, 118, 190);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 1.87;
  letter-spacing: 1.3px;
}




.main-list {
  display: flex;
  padding: 0px;
  
}

.main-item {
max-width: 470px;

padding-left: 43px;  
list-style: none;
}

.main-item:first-child {
border-right: solid 1px;
border-color: rgb(93, 118, 190);
}

.menu-item {
  padding-left: 0px;
  padding-bottom: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.6px;
  color: rgb(93, 118, 190);
}

.menu-list {
max-height: auto;  
padding-top: 30px;
padding-right: 150px;

}

.cuadro1 {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 145px;
  background-color: rgb(185, 206, 245);
}

.cuadro2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: rgb(201, 216, 245);
}

.titulo-cuadro {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.87;
  letter-spacing: 0.6px;
  color: #fff;
  border-bottom: solid  3px;
}

.text-cuadro {
  text-align: justify;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.6px;
  color: rgb(93, 118, 190);
}




.footer {
   width: 100vw;
  
  margin-top: 40px;
 
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;

}

.text-footer {
  
  text-align: center;
  color: #fff;
}